<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Has realizado una transacción.</p> 
    <p>
    Detalles<br>
    --------------------------</p>
    <p>Email: <%= @user.email %> </p>
    <p>Account ID: <%= @user.account_id %></p>
    <p>Moneda: <%= @coin.tipo %></p>
    <p>Cantidad: <%= @transaction.cantidad %></p>

  </body>
</html>